<%- include('bpUp.ejs'); %>



    <h1 class="display-1 text-center">Create Pr<span class="spinner-border"></span>duct</h1>

    <div class="container-lg p-3">

        <div class="card border-dark p-4" style="max-width: 100rem; min-height: 60vh;">

            <form class="row g-3" action="/create" method="post">
                <div class="col-md-6">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Sugarcane" name="productName">
                </div>
                <div class="col-md-4">
                    <label for="qlty" class="form-label">Quality</label>
                    <select id="qlty" class="form-select" name="productQuality">
                        <option selected>Choose...</option>
                        <option value="poor">Poor</option>
                        <option value="good">Good</option>
                        <option value="excellent">Excellent</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">Rs</span>
                        <input type="number" class="form-control w-10" id="price" placeholder="Enter price"
                            name="productPrice">
                    </div>
                </div>

                <div class="input-group">
                    <span class="input-group-text">Description</span>
                    <textarea class="form-control" aria-label="With textarea" name="productDesc"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>


        </div>

        <br><a href="/products"><span class="badge text-bg-light">Explore Products</span>

    </div>




    </a>


    <%- include('bpDown.ejs'); %>